// Colors
$blue: #06038d;
$brown: #332f30;
$gray: #363940;
$light-gray: #d0d0d0;
$gold: #cba052;

// Media query breakpoints
$breakpoints: (
  "phone": 576px,
  "tablet": 768px,
  "laptop": 992px,
  "laptop-large": 1220px,
  "laptop-wide": 1440px,
);
