.btn {
  &-primary {
    color: white;
    background: $blue;
    border-radius: 2px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid $blue;
    line-height: 24px;
  }
  &-second {
    color: $blue;
    border: 2px solid $blue;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 2px;
    font-weight: bold;
    line-height: 24px;
    background-color: white;
  }
  &-third {
    color: white;
    border-radius: 2px;
    border: solid 2px #fff;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    line-height: 24px;
    &:hover {
      color: $blue !important;
      background-color: white;
    }
  }
  &-fourth {
    color: $blue;
    background-color: white;
    border-radius: 2px;
    border: solid 2px #fff;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    &:hover {
      background-color: transparent;
      color: white;
    }
  }
  &-fifth {
    border: 1px solid #332f30;
    border-radius: 4px;
    color: #332f30;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    padding: 8px 16px;
    background-color: white;
  }
  &-goto {
    border-radius: 2px;
    background-color: #fff;
    color: black;
    text-transform: uppercase;
    padding: 6px 8px;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    @include mq("laptop", max) {
      font-size: 10px;
    }
  }
}

.show-more {
  cursor: pointer;
  margin-top: 16px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $gold;
  text-align: center;
}
